APP_PASSWORD=ublehflioeqyetfw

# Your email here. The email you wish to send FROM
EMAIL=naveebpk132@gmail.com

GROQ_API_KEY=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
GEMINI_API_KEY=AQ.Ab8RN6IzzQh6_0yHJHT4jKzz1u9pLsci9H0PEWCe12ZAcrFN4w
MISTRAL_API_KEY=gxtg7rMazOKabodeE1JiAj4IH2YHWn9O