APP_PASSWORD=yourgmailapppasswordhere. #If you are using Gmail, you will need to generate an app password for this. You can do this by going to your Google account settings, selecting "Security", and then "App passwords". Generate a new app password and use it here.

# Your email here. The email you wish to send FROM
EMAIL=example@email.com

GEMINI_API_KEY=yourGeminiAPIkeyhere. #You can get this from your Gemini account settings.
CLOUDFLARE_API_TOKEN=YourCloudflareAPItokenhere. #You can get this from your Cloudflare account settings.
CLOUDFLARE_ACCOUNT_ID=YourCloudflareAccountIDhere. #You can get this from your Cloudflare URL. It is usually a string of numbers and letters.
