{% extends "base.html" %}

{% block title %}Add Note{% endblock %}

{% block content %}
<header>
    <h1>Add a note</h1>
</header>
<form class="form" method="POST" novalidate>
    {{ form.hidden_tag() }}
    <div class="form-control">
        {{form.title.label}}
        {{form.title(class="form-input"+(" invalid" if form.title.errors else ""), placeholder="Title of note")}}
        {% if form.title.errors %}
        {% for error in form.title.errors %}
        <span class="error-message">{{error}}</span>
        {% endfor %}
        {% endif %}

    </div>
    <div class="form-control">
        {{form.content.label}}
        <div>
        {{form.content(class="form-input"+(" invalid" if form.content.errors else ""), id="markdownEditor")}}
        {% if form.content.errors %}
        {% for error in form.content.errors %}
        <span class="error-message">{{error}}</span>
        {% endfor %}
        {% endif %}
        </div>
    </div>
    <div class="action-buttons">
    {{form.submit(class="button")}}
    <a class="button cancel" href="{{url_for('notes')}}">Cancel</a>
    </div>
</form>
{% endblock %}