{% extends "base.html" %}
{% block title %}AI Chat{% endblock %}
{% block content %}
<header>
    <h1>Hello {{current_user.name}}!</h1>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
</header>
    <div class="user-input-box" id="userInputContainer">
        <textarea id="user-input" placeholder="Ask anything..."></textarea>
    </div>
<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']],
      processEscapes: true
    },
    options: {
      processHtmlClass: 'math|arithmatex'
    }
  };
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}