{% extends "base.html" %}

{% block title %}Bin{% endblock %}

{% block content %}
<header>
    <h1>Bin</h1>
</header>
<div class="note-container">
    {% if notes %}
{% for note in notes %}
    <div class="note" data-id="{{note.id}}">
        <div class="note-title">{{note.title}}</div>
        <div class="note-preview">
            {{note.html_content | safe}}
        </div>
        <div class="action-buttons">
            <a href="{{url_for('restore', note_id=note.id)}}" class="button">Restore</a>
            <a class="button danger delete-note-btn" role="button" data-link="{{url_for('delete',note_id=note.id)}}">Delete</a>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="note" data-id="_">
        <div class="note-title">Bin is empty</div>

        </div>
        {% endif %}
</div>
{% endblock %}