{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<main>
    <header>
        <h1>Welcome to the <a class="brand-accent" href="#">Study App!</a></h1>
    </header>
    
    <div class="hero">
        <h2 class="hero-header">Manage your notes and access them easily.</h2>
        <p class="hero-p">Make, edit and format notes, generate quizzes and questions using our AI assistant. Generate flashcards and cheat sheets for quick revisions.</p>
        <div class="hero-navigation">
            <a href="#" class="button">View Notes</a>
            <a href="#" class="button">About The Study App</a>
        </div>
    </div>
</main>
{% endblock %}