{% extends "base.html" %}
{% block title %}Notes{% endblock %}

{% block content %}
<header>
    <h1>My Notes</h1>
</header>

<a class="button" href="{{url_for('add_note')}}">Add Note</a>
<div class="note-container">
    {% if notes %}
{% for note in notes %}
    <div class="note">
        <div class="note-title">{{note.title}}</div>
        <div class="note-preview">
            <p>{{note.content}}</p>
        </div>
    </div>
    {% endfor %}
{% else %}
<div class="note">
        <div class="note-title">No notes created yet</div>
        <div class="note-preview">
            <a class="button">Add note!</a>
        </div>
    </div>
{% endif %}
{% endblock %}