{% extends 'base.html' %}
{% block title %}Practice Hub{% endblock %}

{% block content %}
  <h1>Practice Hub</h1>
  <div class="tab-container">
    <div class="tab" id="flashcardsTab">
        Saved Flashcards({{ saved_flashcards }})
    </div>
    <div class="tab" id="quizzesTab">
        Saved Quizzes({{ saved_quizzes }})
    </div>
  </div>
  <div class="hidden" id="flashcardsContent">
    <h2>My Flashcards</h2>
    {% if flashcards %}
    <div class="note-container">
        {% for flashcard in flashcards %}
            <div class="card flashcard-set" data-flashcard-id="{{ flashcard.id }}">
                <h3>{{ flashcard.card_data[0] }}</h3>
                <div class="action-buttons">
                    <a href="{{url_for('view_flashcards', flashcard_id=flashcard.id)}}" class="button cancel">View Set</a>
                    <button class="button danger delete-flashcard-btn" data-flashcard-id="{{ flashcard.id }}">Delete Set</button>                    
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <p>You do not have any flashcard sets saved yet.</p>
    {% endif %}
  <h2>My Flashcards</h2>
    {% if flashcards %}
    <div class="note-container">
        {% for flashcard in flashcards %}
            <div class="card flashcard-set" data-flashcard-id="{{ flashcard.id }}">
                <h3>{{ flashcard.card_data[0] }}</h3>
                <div class="action-buttons">
                    <a href="{{url_for('view_flashcards', flashcard_id=flashcard.id)}}" class="button cancel">View Set</a>
                    <button class="button danger delete-flashcard-btn" data-flashcard-id="{{ flashcard.id }}">Delete Set</button>                    
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="tab-content" id="flashcardsContent" style="display: none;">
        <p>You do not have any flashcard sets saved yet.</p>
        </div>
    {% endif %}
{% endblock %}